<div class="about" class="container my-5">
    <div class="row">
        <div class="col-lg-6 mt-4 mb-3">
            <img src="/images/rehan.jpg" alt="About Us" class="img-fluid rounded" style="height: 500px; width: 500px; margin-left: 5px;">
        </div>
        <div class="col-lg-6">
            <h2 class="mb-4">About BlogiFuzion</h2>
            <p class="lead">
                Welcome to BlogiFuzion, a platform where ideas and stories meet! Whether you're here to read the latest trends, share your personal journey, or connect with like-minded people, BlogiFuzion is the place for you.
            </p>
            <p>
                Our mission is to create a community of passionate writers and readers who can share their knowledge, experiences, and creativity. From tech tips to travel diaries, lifestyle hacks to in-depth tutorials, we’ve got it all covered. BlogiFuzion allows anyone with a story to tell to share their thoughts with the world.
            </p>
            <p>
                At BlogiFuzion, we believe in the power of the written word. We offer tools and resources to help you start your own blog, engage with your audience, and grow your online presence. Together, we’re shaping the future of content creation, one blog post at a time.
            </p>
            <button class="btn btn-primary mt-3">Contact Us</button>
        </div>
    </div>
</div>
